div, h4 { font-family: "Trebuchet Ms", arial, verdana, sans-serif; }

.subhead { 
  font-size: 12px;
  font-weight: normal;
  padding-left: 20px;
}

div#graph-container {
  border: none;
  float: left;
  margin-right: 10px;
}

#generate-graph { margin: 20px 20px 20px 0; }

div#ui-container {
  float: left;
  border: none;
  padding: 5px;
  padding-top: 20px;
  height: 590px;
}

#range-slider {
  width: 200px;
}

#range-info {
  font-size: 8pt;
  padding-left: 20px;
}

.byContinent { float: left; }
.small .dark-gray { margin: 0; }
